<%- include('layouts/header') -%>

<%= pageTitle %>
<form action="/" method="POST">
    <input type="text" name="value">
    <button type="submit"> suvmit</button>
   </form>
<%- include('layouts/footer') -%>
